/*
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
	}

	body,input,textarea,select
	{
		font-size: 11pt;
	}

	header
	{
		margin-bottom: 1.6em;
	}
	
		header h2
		{
			font-size: 2.8em;
		}

		header .byline
		{
			font-size: 1.2em;
		}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	}
	
	.homepage #content header h2
	{
		font-size: 1.8em;
	}

	#sidebar h2
	{
		font-size: 2em;
	}

/*********************************************************************************/
/* Quote                                                                         */
/*********************************************************************************/
	
	#quote
	{
	}

	#quote blockquote
	{
		font-size: 1.6em;
	}	